.item-body {
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}

.item-body > * {
    display: inline-block;
    margin: 0 20px;
}

.complete > p {
    text-decoration: line-through;
    color: #dfe6e9;
}